.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
    padding-right: 2rem;

}

.about-heading{
    font-size: 2.5rem;
    font-family: poppins, sans-serif;
    font-weight: 400;
    color: #F97316;
    margin-bottom: 1rem;
    line-height: 1.3;
}

.about-heading br{
    display: block;
}

.about-text-block{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.about-text-block p{
    font-family: poppins, sans-serif;
    font-size: .95rem;
    color: #1f2937;
    text-align: justify;
}

@media (max-width: 768px) {
    .about-content{
        padding: 0 1rem;
    }

    .about-heading{
        font-size: 2rem;
    }

    .about-text-block p{
        font-size: .9rem;
    }
}
