.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width:400px;
    margin: 0 auto;
    animation:  fadeIn 1s ease-out;
}

.login-heading{
    font-family: 'poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color:#F97316;
    margin-bottom: 2rem;
    text-align: center;

}

.login-form{
    display: flex;
    flex-direction:column;
    gap: 1.2rem;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-group label{
    font-size:0.9rem;
    color:#4b5563;
    font-weight:500;
    margin-left: 10px;
}

.input-group input{
    background-color: #f3f4f6;
    border:none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.2s;
}

.input-group input:focus{
    box-shadow: 0 0 0 2px rgba(249, 115, 22, 0.3);
}

.signin-button{
    background-color: #F97316;
    color: white;
    border: none;
    padding: 15px 0;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0 4px 6px rgba(249, 115, 22, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s;
}

.signin-button:hover{
    background-color: #ea580c;
    transform: translateY(-2px);
}

.register-link{
    text-align:center;
    font-size: 0.9rem;
    color: #F97316;
    margin-top: 1rem;
    cursor: pointer;
}

.register-link a{
    color: #F97316;
    font-weight: 700;
    text-decoration: none;
}

.register-link a:hover{
    text-decoration: underline;
}
